@import "../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css";

@import "./math.scss";
@import "./attrs.scss";
@import "./cnxml.scss";
@import "./workspace.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

div[data-type] {
  margin: 3px 0;
  padding-left: 5px;
  position: relative;
  border-left: 2px solid #705c8a;
  transition: background .3s ease;
}

div[data-type].active {
  border-color: #edd606;
  background: rgba(237, 214, 6, 0.1);
}


/* INTOR */

.intro {
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  color: #171b32;
  position: fixed;
  padding: 20px 5%;
  background: white;

  /* hide */
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  visibility:hidden;
  transform: scale(0.95) translateZ(0);
  transition: visibility 0s linear 0.5s, opacity .3s ease, transform .3s ease;
}

.intro.show {
  /* Show*/
  opacity: 1;
  z-index: 3000;
  visibility:visible;;
  transform: scale(1) translateZ(0);
  transition: opacity .3s ease, transform .3s ease, visibility 0s;
}
