#attrseditor {
  top: 0;
  height: 60%;
  width: 350px;
  right: -400px;
  padding: 10px;
  z-index: 1000;
  position: fixed;
  background: #262a31;
  transition: right .4s ease;
  border-left: 1px solid #14171b;
  border-bottom: 1px solid #14171b;
}

#attrseditor.show {
  right: 0;
}

#attrseditor input {
  width: 100%;
  color: #999;
  padding: 7px 5px;
  display: block;
  background: none;
  margin-bottom: 10px;
  border: 1px solid #14171b;
}

#attrseditor input:focus {
  outline: none;
  background: #2a2f37;
}

#attrseditor .entry span {
  color: #999;
  display: inline;
  font-size: 12px;
  padding: 2px 4px;
  background: #14171b;
}

#attrseditor .add {
  display: flex;
  margin-bottom: 5px;
}

#attrseditor .add input {
  flex-grow: 1;
  margin-right: 10px;
  background: #353a40;
  padding: 3px 3px 2px 3px;
}

.addAttrs {
  border: none;
  width: 23px;
  height: 20px;
  color: #262a31;
  cursor: pointer;
  border-radius: 2px;
  background: #edd606;
  transition: background .3s ease;
}

.addAttrs:hover {
  background: #edac06;
}

.addAttrs:focus,
.saveAttrs:focus {
  outline: none;
}

.saveAttrs {
  border: none;
  width: 23px;
  height: 20px;
  color: #262a31;
  cursor: pointer;
  line-height: 9px;
  margin-left: 10px;
  border-radius: 2px;
  background: #474c52;
  transition: background .3s ease;
}

.saveAttrs:hover {
  background: #24e04c;
}
