emphasis[effect=italics], i {
  font-style: italic;
  color: #eeac00;
}

emphasis[effect=bold], b {
  font-weight: bold;
  color: #4092da;
}

reference {
  text-decoration: underline;
  color: #0ebfe6;
}

term {
  font-weight: bold;
  color: #d613d8;
}
