@import "../../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.css";
@import "./search.scss";
@import "./switch.scss";
@import "./cnxml.scss";
@import "./latex.scss";
@import "./math.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #1b191c;
}

header {
  width: 100%;
  height: 32px;
  display: block;
  padding: 0 10px;
  background: #242328;
  border-bottom: 1px solid #1b191c;

  & > button {
    width: 12px;
    height: 12px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 3px 11px 3px;
    transition: background .3s ease;

    &:focus {
      outline: none;
    }

    &.close {
      background: #c44b42;
      &:hover {
        background: #d05a51;
      }
    }

    &.minimize {
      background: #eaa513;
      &:hover {
        background: #f0c306;
      }
    }

    &.maximize {
      background: #249d34;
      &:hover {
        background: #29b83c;
      }
    }
  }
}

main {
  top:32px;
  left: 0px;
  right: 0px;
  color: #aaa;
  bottom: 29px;
  position: fixed;
  padding: 0 12px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  transition: bottom .4s ease;

  &:focus {
    outline: none;
  }

  & > div.content {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

aside {
  top: 32px;
  width: 320px;
  bottom: 28px;
  right: -340px;
  color: #5f6267;
  position: fixed;
  font-size: 14px;
  background: #242427;
  transition: right .4s ease;
  border-left: 1px solid #1b191c;

  &.show {
    right: 0;
  }

  & > form {

    & > div.header {
      padding: 15px;
      font-size: 14px;
      & > span {
        color: #1b191c;
        font-size: 12px;
        margin-left: 4px;
        border-radius: 3px;
        background: #f5c304;
        vertical-align: top;
        font-weight: normal;
        padding: 2px 3px 3px 3px;
        text-transform: uppercase;
      }
    }

    & hr {
      border: none;
      display: block;
      margin: 30px 0 45px 0;
      border-bottom: 1px solid #1b1b1d;
    }

    & > div.footer {
      bottom: 0px;
      width: 100%;
      text-align: right;
      padding: 10px 15px;
      position: absolute;
      border-top: 1px solid #1b191c;

      & .save {
        color: #ddd;
        background: #229d35;

        &:hover {
          background: #157524;
        }
      }
    }

    & .input {
      display: flex;
      color: #5f6267;
      position: relative;
      background: #1b1b1d;
      margin: 25px 15px 45px 15px;

      &.no-label {
        margin: 25px 15px 15px 15px;
        &::before {
          display: none;
        }
      }

      &::before {
        left: 0;
        top: -20px;
        display: block;
        color: #5f6267;
        font-size: 13px;
        padding: 2px 5px;
        position: absolute;
        background: #1b1b1d;
        content: attr(label);
      }

      & > input {
        width: 100%;
        border: none;
        flex-grow: 1;
        padding: 10px;
        color: inherit;
        background: none;
        transition: box-shadow .3s ease;

        &:focus {
          outline: none;
          box-shadow: inset 0 -1px 0 #f5c304;
        }
      }

      & > button.close {
        width: 35px;
        height: 36px;
        border: none;
        color: #1b1b1d;
        line-height: 0;
        cursor: pointer;
        font-size: 32px;
        background: #e13a34;
        transition: background .3s ease;

        &:hover {
          background: #bd2a25;
        }

        &:focus {
          outline: none;
        }
      }

      & > button.add {
        width: 35px;
        height: 36px;
        border: none;
        color: #1b1b1d;
        line-height: 0;
        cursor: pointer;
        font-size: 32px;
        background: #f5c304;
        transition: background .3s ease;

        &:hover {
          background: #dbaf07;
        }

        &:focus {
          outline: none;
        }
      }
    }

    & .content {
      margin: 25px 15px 55px 15px;
      &::before {
        display: none;
      }
    }
  }
}

output {
  left: 0;
  top: 32px;
  border:none;
  width: 100%;
  bottom: 28px;
  position: fixed;
  background: #1b1b1d;


  /* hide */
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  visibility:hidden;
  transform: scale(0.95) translateZ(0);
  transition: visibility 0s linear 0.5s, opacity .3s ease, transform .3s ease;

  & > textarea {
    top:0;
    bottom: 0;
    width: 100%;
    color: #ddd;
    border:none;
    resize: none;
    padding: 20px 5%;
    overflow: hidden;
    background: none;
    position: absolute;
    font-family:monospace;
    border-bottom: 21px solid #242328;

    &:focus {
      outline: none;
    }
  }

  &.show {
    /* Show*/
    opacity: 1;
    z-index: 3000;
    visibility:visible;
    transform: scale(1) translateZ(0);
    transition: opacity .3s ease, transform .3s ease, visibility 0s;
  }

  & .save {
    bottom: 0;
    right: 1px;
    color: #ddd;
    background: #229d35;
    position: absolute;

    &:hover {
      background: #157524;
    }
  }

  & .copy {
    bottom: 0;
    right: 54px;
    color: #1b1b1d;
    background: #f5c304;
    position: absolute;

    &:hover {
      background: #bb9607;
    }
  }
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 28px;
  display: block;
  position: fixed;
  background: #242328;
  border-top: 1px solid #1b191c;

  & > .breadcrumbs {
    width: 60%;
    float: left;
    display: block;
    color: #91959E;
    font-size: 12px;
    text-align: left;
    padding: 5px 6px 6px 6px;

    & > span.breadcrumb {
      cursor: pointer;
      transition: opacity .3s ease;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  & > .bottom-menu {
    width: 40%;
    float: left;
    display: block;
    padding: 0 7px;
    text-align: right;

    & > button {
      border: none;
      color: #91959E;
      cursor: pointer;
      font-size: 13px;
      padding: 5px 6px;
      background: #242328;
      transition: background .3s ease;

      &:focus {
        outline: none;
      }

      &:hover {
        background: #2f333d;
      }
    }
  }
}


button.flat {
  border: none;
  padding: 10px;
  line-height: 0;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  transition: background .3s ease;

  &:focus {
    outline: none;
  }
}


.selected {
  margin: -4px;
  padding: 4px;
  border-radius: 4px;
  transition: background .4s ease;
  background: rgba(33, 150, 243, 0.3);
}


.found {
  background: #3c5170;

  &.selected {
    border: 2px solid #12e5ab;
  }
}
