/* JAX-Wrapper */

span.jax-math {
  // color: #acf153;
  color: #f5c304;
  position: relative;
  display: inline-block;
}

span.jax-math:before {
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  position: absolute;
}
