
// ---- Output Panel Styles ----------------

output {
  left: 0;
  top: 32px;
  border:none;
  width: 100%;
  bottom: 28px;
  position: fixed;
  background: #1b1b1d;

  /* hide */
  opacity: 0;
  z-index: 0;
  overflow: hidden;
  visibility:hidden;
  transform: scale(0.95) translateZ(0);
  transition: visibility 0s linear 0.5s, opacity .3s ease, transform .3s ease;

  & > textarea {
    top:0;
    bottom: 0;
    width: 100%;
    color: #ddd;
    border:none;
    resize: none;
    padding: 20px 5%;
    overflow: hidden;
    background: none;
    position: absolute;
    font-family:monospace;
    border-bottom: 21px solid #242328;

    &:focus {
      outline: none;
    }
  }

  &.show {
    /* show */
    opacity: 1;
    z-index: 3000;
    visibility:visible;
    transform: scale(1) translateZ(0);
    transition: opacity .3s ease, transform .3s ease, visibility 0s;
  }

  // Buttons override.
  & button.save {
    bottom: 0;
    right: 1px;
    color: #ddd;
    background: #229d35;
    position: absolute;

    &:hover {
      background: #157524;
    }
  }

  & button.copy {
    bottom: 0;
    right: 54px;
    color: #1b1b1d;
    background: #f5c304;
    position: absolute;

    &:hover {
      background: #bb9607;
    }
  }

  & span.message {
    left: 5px;
    opacity: 0;
    bottom: 5px;
    color: #229d35;
    font-size: 11px;
    position: absolute;
    transition: opacity .3s ease;

    &.show {
      opacity: 1;
    }
  }
}
