/* WORKSPACE */

.workspace {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #21252b;
}

/* XML PREVIEW */

.xmlview {
  width: 100%;
  min-height: 65%;
  position: relative;
  behavior: 'smooth';
}

#editor {
  color: #aaa;
  width: 100%;
  height: 100%;
  padding: 10px;
  /*color: #abb2bf;*/
  font-size: 14px;
  line-height: 19px;
  position: absolute;
  letter-spacing: 0.01em;
  border-bottom: 1px solid #14171b;
}

#editor:focus {
  outline: none;
}


/* LATEX INPUT */

.latexview {
  width: 100%;
  min-height: 35%;

  & .buttons {
    right: 0;
    bottom: 35%;
    z-index: 3000;
    position: fixed;

    &:focus {
      outline: none;
    }
  }
}

#input {
  color: #ddd;
  padding: 20px;
  overflow-y: auto;
  max-height:  90px;
  text-align: center;
  background: #2c3035;
}

#input:focus {
  outline: none;
}

#preview {
  color: #ddd;
  padding: 20px;
  text-align: center;
}


/* BUTTIONS */

.cbtn {
  float: left;
  padding: 3px;
  display: block;
  color: #21252b;
  cursor: pointer;
  border-right: none;
  border: 1px solid #14171b;
  transition: background .3s ease;
  background: rgba(239, 210, 10, 0.9);

  &:focus {
    outline: none;
  }

  &:last-child {
    border-right:  1px solid #14171b;
  }

  &:hover {
    background: rgba(239, 210, 10, 0.35);
  }
}
