.nodeWrapper {
  position: fixed;
  top: -40px;
  left: 50%;
  border: none;
  background: #2c3035;
  border-radius: 20px;
  transition: top .3s ease;
  transform: translateX(-50%) translateZ(0);

  &.show {
    top: 10px;
  }

  & > input {
    color: #ccc;
    padding: 10px;
    background: none;
    border-radius: 20px;
    border: 2px solid #00b8ff;

    &:focus {
      outline: none;
    }
  }
}

wrapp {
  color: #6a6e73;
}
